<table class="table table-striped table-dark results-fixture">
  <tr><th colspan="10"><%= league.name %></th></tr>
  <tr>
    <th><%= link_to "<", fixtures_leagues_path(id: prev_gw.id), remote: true if prev_gw.present? && !prev_gw.finished? && !prev_gw.is_current %></th>
    <th colspan="4"><%= game_week.name %></th>
    <th><%= link_to ">", fixtures_leagues_path(id: nxt_gw.id), remote: true if nxt_gw.present? %></th>
  </tr>
  <tr>
    <th></th>
    <th>Time</th>
    <th>Home Team</th>
    <th></th>
    <th>Away Team</th>
    <th></th>
  </tr>
  <% if fixtures.present? %>
    <% fixtures.each do |fixture| %>
      <tr>
        <td></td>
        <td><%= fixture["kickoff_time"].to_time.convert_to_user_timezone(session[:time_zone]).strftime("%d-%m-%y %H:%M") %></td>
        <% home_team = Team.find_by(slug: fixture["team_h"])
           home_team = home_team.present? ? home_team.show_name : "NIL"
           away_team = Team.find_by(slug: fixture["team_a"])
           away_team = away_team.present? ? away_team.show_name : "NIL"
        %> 
        <td><%= home_team %></td>
        <td></td>
        <td><%= away_team %></td>
        <td></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="4">Sorry Somthing went wrong</td>
    </tr>
  <% end %>
</table>